/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}